@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family:  sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url('./fonts/sohne-700-normal.woff');
}

* {
  margin : 0;
}



.title {
  font-weight: 700;
  font-size: 42px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}