@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family:  "sohne", "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url('./fonts/sohne-700-normal.woff');
}


.title {
  font-weight: 700;
  font-family: "sohne", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
}